table, th, td {
    border: 1px solid lightgray;
}

table {
    width : 100%;
    border-collapse: collapse;
    margin-left:auto; 
    margin-right:auto;
}
tr td {
    align-content: center;
}

tbody tr:hover {
    background-color: lightgray
}

